body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.autoContainer {
  position: absolute;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #2395cb;
  background-color: #fafafa;
  z-index: 1;
}

#navBarTabs {
  width: "100px";
  padding: "12px";
  margin: "0 6px 6px";
  background: "blue";
  color: "white";
}

.box {
  display: flex;
  flex-direction: row-reverse;
}

.logoBox {
  display: flex;
  flex-direction: row;
}

.loginPaper {
  margin-top: 100px;
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}
.loginSubmit {
  margin: 100px;
  background-color: lightblue;
}
.loginForm {
  width: "100%";
  margin-top: 25px;
}

.navBar {
  background-color: #2395cb;
}

.newsThumnail {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px; /* Rounded border */
  padding: 5px; /* Some padding */
  width: 275px; /* Set a small width */
}

.awardThumbnail {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px; /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

.profileContainer {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px; /* Rounded border */
  padding: 5px; /* Some padding */
  /* background-color: grey; */
}

.navBarLogo {
  width: auto;
  height: "30";
  padding: 5px;
}

#navBarButtons {
  width: "100px";
  padding: "10px";
  margin: "0 6px 0px";
  background: "blue";
  text-decoration: "none";
  text-align: "center";
  color: "white";
}

.portfolioTableContainer {
  margin: 100px;
  background-color: lightblue;
}

.searchBar {
  margin-bottom: 7px;
}
.orderFormButtons {
  margin-right: 1000px;
}

.orderFormContainer {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px; /* Rounded border */
  padding: 5px; /* Some padding */
  /* background-color: grey; */
  margin-right: 10px;
}
